In [62]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [63]:
# Setup splinter - from 8-stu-splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\nantk\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [64]:
#NASA MARS NEWS
#url of the page that will be scraped - from 8-Stu-Splinter
url = 'https://redplanetscience.com/'
browser.visit(url)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

In [65]:
#collect latest news title
news_title=soup.find_all('div', class_='content_title')[0].text
news_title

"How NASA's Mars Helicopter Will Reach the Red Planet's Surface"

In [66]:
#collect latest news paragraph
news_paragraph=soup.find_all('div', class_='article_teaser_body')[0].text
news_paragraph

'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'

In [36]:
#JPL MARS SPACE IMAGES - FEATURED IMAGE 
#current featured mars image and assign featured image url

jpl_url = 'https://spaceimages-mars.com/'

browser.visit(jpl_url)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

In [36]:
#check the link for the end part of the url
image=soup.find('img', class_='headerimage fade-in').get('src')
image

'image/featured/mars3.jpg'

In [37]:
#create the string to put the image src at the end of the url
featured_image_url= f'https://spaceimages-mars.com/{image}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [38]:
#MARS FACTS
#reference 10-stu-doctor-decoder
facts_url='https://galaxyfacts-mars.com/'
table=pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [41]:
#create a dataframe
mars_fact_table=table[0]
mars_fact_table

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [42]:
#rename columns so they are not 0,1,2
mars_fact_table.columns=["Description","Mars", "Earth"]
mars_fact_table

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [43]:
#reset index so description is first column
mars_fact_table.set_index('Description', inplace=True)
mars_fact_table

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [45]:
#print the dataframe to html 
#reference https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html
mars_facts_html=mars_fact_table.to_html()
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [53]:
#MARS HEMISPHERES

# splinter 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

hemisphere_url = 'https://marshemispheres.com/'

browser.visit(hemisphere_url)
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\nantk\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [59]:
###########images= soup.find_all('div', class_='item')
#hemi_img_url=[]
#for hemisphere in images:
    #find title
    #title=hemisphere.find('h3').text
    #find url end
    #img_url=hemisphere.a['href']
    #add image url to site
    #url='https://astrogeology.usgs.gov' + img_url
    #get full url 
    #response=requests.get(url)
    #create the object
    #soup = BeautifulSoup(html, 'html.parser')
    #finding the image url
    #updated_url=soup.find('img', class_='wide-image')['src']
    #finally create the full url
    #final_url= 'https://astrogeology.usgs.gov' + updated_url
    #make a dictionary and append it to create the list of urls
    #hemi_img_url.append({'title': title, 'img_url': final_url})
    
#hemi_img_url

TypeError: 'NoneType' object is not subscriptable